.coinButton{
    /* width: 100%;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    transition-duration: 0.2s;
    transition-property: background-color; */
    width: 100%;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s;
}
.coinButton:hover{
    background-color: rgba(15,20,25, 0.1); 
    cursor: pointer;
}
.coinButton:last-child{
    border-bottom-left-radius: 16px;
}
.coinButton:last-child:hover{
    border-bottom-left-radius: 16px;
}
.coinImage{
    display: flex;
    padding: 5px 0px 5px 10px;
}
.coinImage img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.coinName{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectedCoin{
    background-color: rgba(0,0,0,0.2);
}

