.container{
    width: 100%;
    min-height: 100vh; 
    align-items: center;
    display: flex;
    flex-direction: column;

}
.containerHeader{
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    align-items: center;
    z-index: 30;
}
.containerHeader div{
    height: 100%;
    color:white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
}
.homeFixed{
    margin-right: 17px;
    padding-top: 70px;
    width:100%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    border-color: rgba(255, 255, 255, 0.85);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: fixed;
}
.header{
    position: relative;

    height: 50px;
    width: 100%;
}
.header hr{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid gray;
}
.header button{
    position: absolute;
    top: 50%;
    padding: 10px 16px;
    height: 30px;
    line-height: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:2;
    background-color: white;
    border: 1px solid gray;
    border-radius: 16px;
    transition-duration: 0.2s;
    transition-property: background-color;
}
.header button:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.showDiv{
    width: 80%;
    margin-top: 100px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 16px;
}
.showLogsDiv{
    margin-top: 50px;
    width: 80%;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 16px;

}
.content{
    display: flex;
    flex-direction: row;
}
.coinLeft{
    border-right: 1px solid gray;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 16px;
}
.graphRight{
    padding-right: 30px;
    flex:1;
    

   
}


.center{
    display: flex; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center; /* 추가 */
}